// @font-face {
//     font-family: myFirstFont;
//     src: url(../fonts/IRANSansX-Regular.woff) format('woff');
// }

body{
    // font-family: 'myFirstFont', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
    
    .top-header-banner {
        object-fit: cover;
        display: inline-block;
        width: 100%;

        &:hover{
            cursor: pointer;
        }
    }
}

.container {
    box-sizing: border-box;
    direction: rtl;
    display: block;
    height: 4965.35px;
    font-size: 10px;
    margin-left: 96px;
    margin-right: 96px;
    padding: 0 16px;
}