.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {
    width: 300%;
    /* 3 slides, each with width of 100% */
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: inline-block;
    width: 100%;
    height: 500px;
    /* adjust to your desired height */
    background-size: cover;
    background-position: center;
}